.panel-header {
  display: grid;
  grid-template-columns: 44px 1fr;
  gap: 14px;
  .add-menu {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    > div:nth-child(1) {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      color: #494f66;
    }
    > .icon-mobile {
      outline: none;
      border: none;
      background-color: transparent;
      color: #939dff;
      padding: 0px;
      display: none;
      gap: 6px;
      @media only screen and (min-width: 361px) {
        display: flex;
        align-items: center;
      }
      .icon {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid #939dff;
      }
    }
    > .switch-desktop {
      @media only screen and (min-width: 361px) {
        display: none;
      }
      .ant-switch-checked {
        background-color: #7cc954;
      }
    }
  }
}
