.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 32px;
  @media only screen and (min-width: 361px) {
    height: 64px;
    max-width: 1000px;
    margin: 0 auto;
  }
}

.header-container .call-us-mobile {
  display: flex;
  align-items: center;
  font-family: 'Lato';
  font-size: 14px;
  color: #6769ff;
  gap: 6px;
}

.header-container .call-us-desktop {
  display: flex;
  align-items: center;
  font-family: 'Lato';
  font-size: 14px;
  color: #6769ff;
  gap: 6px;
  > div:nth-child(1) {
    font-size: 12px;
    color: #676f8f;
    padding-right: 16px;
  }
}
