.amount-section {
  display: grid;
  align-items: center;
  padding: 0px 32px;
  grid-template-columns: 0.6fr 1fr;
  height: 80px;
  @media only screen and (min-width: 361px) {
    padding: 0px 0px;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 180px;
  }
  .amount-info {
    > div:nth-child(1) {
      display: none;
      @media only screen and (min-width: 361px) {
        display: block;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        color: #494f66;
      }
    }
    > div:nth-child(2) {
      font-weight: 400;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: -0.2px;
      color: #494f66;
    }
    > div:nth-child(3) {
      @media only screen and (min-width: 361px) {
        text-transform: lowercase;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #676f8f;
        padding-bottom: 14px;
      }
    }
  }
  .car-services {
    display: none;
    @media only screen and (min-width: 361px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 6px;
      > div > span > svg {
        color: #43b748;
        margin-right: 6px;
      }
      .title {
        border-top: 1px solid #E4E8F7;
        padding-top: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #494f66;
      }
    }
  }
  .red-button {
    @media only screen and (min-width: 361px) {
    margin-top: 30px;
    }
  }
}
