.display-step-container{
    .step-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
    }
    .step-container .step {
        border: 1px solid #C5CBE0;
        color: #C5CBE0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .step-container .current-step {
        border: 1px solid #6F7DFF;
        color: #fff;
        background-color: #6F7DFF;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .step-container .step-text{
        color: #A3ABCC;
    }
    .vertical-line {
        width: 100%;
        height: 34px;
        position: relative;
    }
    .vertical-line > hr {
        position: absolute;
        left: 20px;
        top: 0px;
        background-color: #C5CBE0;
        color: #C5CBE0;
        outline: none;
        border: none;
        width: 1px;
        height: 20px;
    }
}